.App {
  text-align: center;
}

body {
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

#canvas {
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(189, 189, 189, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
